@charset "UTF-8";
a {
  color: white;
  text-decoration: none;
}
a:hover { color: white;}




ul.list li{
	margin-bottom:10px;
}

.main{
	background-color:#EEEEEE;
	margin-right:10%;
	margin-left:10%;
	margin-top:2%;
	margin-bottom:2%;
}


.botan{
	padding-bottom:15px;
}